@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow-x: hidden;
}

.container-fluid {
    padding: 0;
}

#item {
    margin-top: 30px;
}

.header {
    transition: 0.5s;
}

.nav li {
    padding: 0 20px;
    line-height: 50px;
}

.nav {
    display: flex;
    justify-content: center;
}

.navbar-item a {
    color: white;
    text-decoration: none;
}

#box {
    margin-top: 170px;
    transition: 0.5s;
}

.navbar-item input {
    height: 30px;
    border: none;
}

.navbar-item .bx-search {
    color: white;
    font-size: 28px;
    transform: translateY(7px);
}

.logo-brand {
    display: flex;
    justify-content: center;
}

.logo-brand-item {
    margin: 0 10px;
}

.call {
    display: flex;
    justify-content: center;
}

.call-item {
    margin: 0 30px;
}

.product {
    background-color: rgb(250, 250, 250);
    height: 250px;
    margin: 15px;
    overflow: hidden;
    transition: 0.5s;
    font-family: 'poppins';
}

.new-products .row {
    justify-content: center;
}

.image-product {
    transition: 0.5s;
    height: 62%;
    width: 100%;
    position: relative;
}

.image-product img {
    transform: translateY(-10px);
    position: absolute;
    top: 35%;
}

.product .icon {
    float: right;
    padding: 10px;
}

.product .icon i {
    font-size: 30px;
}

.name-product {
    text-align: center;
    font-size: 15px;
    transform: translateY(25px);
    height: 50px;
    overflow: hidden;
    transition: 0.5s;
    font-weight: bold;
}

.price-product {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    transition: 0.5s;
    font-weight: bold;
}

.product:hover .image-product {
    transform: translate(15px, -30px) rotate(20deg);
    opacity: 0.6;
}

.product:hover .name-product {
    transform: translateY(-10px);
    opacity: 0.6;
}

.product:hover .price-product {
    transform: translateY(-35px);
    opacity: 0.6;
}

.action {
    display: flex;
    justify-content: space-evenly;
    transition: 0.5s;
    font-family: Arial, Helvetica, sans-serif;
}

.action button {
    border: none;
    padding: 3px;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 15px;
}

.product:hover .action {
    transform: translateY(-45px);
}

.row-products {
    display: flex;
    justify-content: start;
    overflow: hidden;
}

.row-products .col-lg-4 {
    transition: 0.5s;
}

.new-products {
    position: relative;
}

.arrow {
    position: absolute;
}

#left {
    font-size: 60px;
    position: absolute;
    top: 45%;
    left: -3%;
}

#right {
    font-size: 60px;
    position: absolute;
    top: 45%;
    right: -3%;
}

.row-sneakers .col-lg-2 {
    height: 280px;
    padding: 0;
    margin-bottom: 15px;
}

.see-more {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.see-more a {
    color: black;
    text-decoration: none;
}

.see-more:hover a {
    text-decoration: underline;
}

.map,
.info {
    padding: 30px;
    height: 600px;
}

.info p {
    font-size: 20px;
    color: white;
}

.social i {
    font-size: 50px;
    color: white;
}

.copy {
    text-align: center;
    font-size: 20px;
    color: white;
}

.cate {
    height: 50px;
    font-size: 32px;
    width: 50px;
    text-align: center;
    color: white;
}

.icon-action {
    height: 50px;
    color: white;
    font-size: 32px;
    width: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu-mobile {
    display: none;
    background-color: black;
    position: relative;
}

.nav-mobile li {
    list-style: none;
    font-weight: bold;
    line-height: 50px;
    margin-left: 20px;
}

.nav-mobile {
    width: 300px;
    background-color: black;
    position: absolute;
    top: 170px;
    left: 0;
    margin-left: -300px;
    transition: 0.5s;
}

.content {
    transition: 0.5s;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 120px;
    z-index: 1;
    transition: 0.5s;
}

.content1 {
    height: 2000px;
}


/* table and mobile : width < 1024 px*/

@media only screen and (max-width: 63.9375em) {
    .navbar-expand,
    #item {
        display: none;
    }
    .row {
        --bs-gutter-x: 0px;
    }
    .menu-mobile {
        display: block;
        display: flex;
        justify-content: space-between;
    }
    .call-item {
        margin: 0 0 50px 0;
        justify-content: center;
    }
    .action button {
        width: 200px;
        font-size: 13px;
        margin-bottom: 2px;
    }
    .name-product {
        font-size: 12px;
        transform: translateY(-5px);
    }
    .price-product {
        font-size: 14px;
        transform: translateY(-20px);
    }
    .action {
        margin-top: 25px;
    }
    .product:hover .image-product {
        transform: translate(10px, -20px) rotate(20deg);
    }
    .product:hover .name-product {
        transform: translateY(-30px);
    }
    .product:hover .price-product {
        transform: translateY(-55px);
    }
    .product:hover .action {
        transform: translateY(-75px);
        z-index: 1;
    }
    .action {
        flex-wrap: wrap;
    }
    .product {
        height: 278px;
    }
    #left {
        left: 0;
        font-size: 35px;
        top: 47%;
        color: white;
        background-color: black;
    }
    #right {
        right: 0;
        font-size: 35px;
        top: 47%;
        color: white;
        background-color: black;
    }
}


/* table : width >= 740px  and width < 1024 px*/

@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {}


/* mobile : width < 740px and > 350px*/

@media only screen and (max-width: 46.1875em) and (min-width: 21.875em) {
    .map {
        height: 300px;
    }
    .info {
        font-size: 12px;
        height: 100%;
    }
    .copy {
        font-size: 13px;
    }
    #active {
        font-size: 25px;
    }
}