@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    position: fixed;
    background-color: black;
    overflow: hidden;
    z-index: 1;
    left: 0;
    right: 0;
}

.navbar-item {
    padding: 0 15px;
}

.navbar-item a {
    text-decoration: none;
    line-height: 50px;
    color: white;
}

.navbar-item i {
    font-size: 20px;
}

.search {
    color: white;
    font-size: 25px;
    position: absolute;
    top: 7px;
    right: 0px;
}

.navbar-expand {
    position: relative;
}

.row-item {
    margin-top: 50px;
}

.row-item .row {
    margin-bottom: 40px;
}

.title-new-arrivals {
    text-align: center;
    transform: translateY(30px);
}

.title-new-arrivals h2 {
    background-color: black;
    color: white;
    line-height: 70px;
}

.row-list-shoe {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product {
    height: 350px;
    font-family: "poppins";
    border-radius: 20px;
    overflow: hidden;
    margin: 10px;
    background-color: white;
}

.icon-product {
    display: flex;
    justify-content: space-between;
}

.icon-product a {
    color: black;
}

.product .love,
.product .info {
    padding: 5px;
    font-size: 25px;
}

.image-product img {
    transition: 0.5s;
}

.image-product {
    height: 160px;
}

.product-name {
    margin-top: 10px;
}

.product-name,
.product-price {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    transition: 0.5s;
}

.button-product {
    display: flex;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s;
}

.button-product button {
    border: none;
    padding: 8px;
    margin-top: 20px;
    color: white;
    background-color: black;
    border-radius: 10px;
    font-size: 14px;
}

.product:hover .image-product img {
    transform: translate(10px, -40px) rotate(15deg);
}

.product:hover .product-name,
.product:hover .product-price {
    transform: translateY(-35px);
}

.product:hover .button-product {
    transform: translateY(-60px);
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #333;
    flex-wrap: wrap;
}

.map,
.info-store {
    padding: 40px;
}

.footer p {
    color: white;
    font-size: 20px;
}

.footer a {
    color: white;
    font-size: 40px;
}

.copy p {
    color: white;
    margin-left: 40px;
}

.cate,
.name-store {
    display: none;
}

@media (max-width: 1179px) {
    .cannone {
        display: none;
    }
    .header-mobile {
        display: flex;
        height: 50px;
        align-content: center;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

@media (max-width: 575px) {
    .image-product {
        height: 140px;
        margin-top: 40px;
    }
    .button-product button {
        font-size: 13px;
        width: 300px;
        margin: 1px;
    }
    .product {
        margin: 20px -10px;
        height: 340px;
    }
    .product-name {
        padding: 0 10px;
        font-size: 14px;
        transform: translateY(-30px);
        text-align: start;
    }
    .product-price {
        transform: translateY(-30px);
    }
    .product:hover .product-name,
    .product:hover .product-price {
        transform: translateY(-100px);
        opacity: 0.5;
    }
    .product:hover .image-product img {
        transform: translate(10px, -70px) rotate(20deg);
        opacity: 0.5;
    }
    .product:hover .button-product {
        transform: translateY(-110px);
    }
    .button-product {
        flex-wrap: wrap;
    }
    .map,
    .info-store {
        padding: 20px;
        font-size: 15px;
    }
    .copy {
        font-size: 15px;
    }
    .we {
        font-size: 18px;
    }
    .navbar-expand {
        display: none;
    }
    .cate {
        display: block;
        color: white;
        font-size: 35px;
    }
    .name-store {
        display: block;
        color: white;
        font-size: 25px;
        font-weight: bold;
        line-height: 50px;
    }
}